*{
    margin:0;
    padding:0;
}

.contenedor{
    margin:auto;
    text-align:center;
    width:100%;
    display:block;
    padding-top: 50px;

  
   

}

.perfil-usuario{
    width:250px;
    height:250px;
    border-radius:100%;
    background:#999;
    margin:auto;
    margin-top: 10px;
    text-align:center;
    cursor: pointer;
   
}

.perfil-usuario img{
    border-radius: 100%;
    width:100%;
    height:100%;
    z-index:50;

}
.perfil-usuario .fa-image{
    font-size: 50px;
    margin-left: -150px;
    margin-top: 100px;
    opacity: 0;
    position: absolute;
    z-index:100;
    
    
}
.perfil-usuario .fa-image:hover{
    opacity: 1;
    color: #fff;

}
.contenedor h2{
    font-size:60px;
    font-weight:bold;
}


.menu-usuario{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    background:#06f;
    padding:25px 0;
    font-size:20px;
    font-weight:bolder;
    width:100%;
}

.menu-item{
    text-decoration:none;
    color:#fff;
    cursor:pointer;
}

.menu-usuario a:hover{
    color:rgba(0,0,0,.9);

}

.lista-amigos{
    width:80%;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
    margin:auto;
    margin-bottom: 50px;
    padding-top: 50px;

}

.amigo{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    font-size:30px;
    border:.3px solid #999;
    border-radius: 5px;
    padding: 5px 0;
  
}
.perfil-amigo{
    width:120px;
    height:120px;
    margin-left: 0!important;
}

.perfil-amigo img{
    width:100%;
    height:100%;
    border-radius: 100%;
   

}
.amigo a{
    margin-right:70px;
    width:150px;
    cursor:pointer;
    text-decoration: none;
    color:#000;
    word-wrap: break-word;
}
.amigo a:hover{
    text-decoration: underline .1px #000;
}
.amigo .eliminar-amigo{
    margin-right: 50px;
    width:80px;
    height:35px;
}
.amigo .eliminar-amigo input{
    margin:0;
    outline:none;
    background-color: #fff;
    border:1px solid #06f;
    color:#06f;
    font-size: 18px;
    border-radius: 5px;
    width:100%;
    height:100%;
    cursor:pointer;
    font-weight: bolder;
    transition: all .3s ease-in;
}
.amigo .eliminar-amigo input:hover{
    background-color: #06f;
    color:#fff;
}
.amigo .aceptar-rechazar{
    margin:0;
    display:flex;
    width:180px;
    height:35px;

}
.amigo .aceptar-rechazar input{
    width:45%;
    height: 100%;
    margin-right:10px;
    outline:none;
    background-color: #fff;
    border:1px solid #06f;
    color:#06f;
    font-size: 18px;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bolder;
    transition: all .3s ease-in;

}
.amigo .aceptar-rechazar input:hover{
    background-color: #06f;
    color:#fff;
}

/*para ver los mensajes privados al hacer click en la opcion*/
.contenedor-mensajes-privado{
    display:none;
}

.ver-contenedor-mensajes-privado{
    width:300px;
    height: 450px;
    background-color: #06f;
    color:#fff;
    font-size: 16px;
    margin-left: 70%;
    border-radius: 10px;
    position:fixed;
    margin-top: -250px;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    
}


.ver-contenedor-mensajes-privado .header-mensaje-privado{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,.3);
    padding: 5px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ver-contenedor-mensajes-privado .header-izquierda,.header-derecha{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bolder;
 
}
.ver-contenedor-mensajes-privado .header-izquierda a{
    width:50px;
    height:50px;
    margin-right: 5px;
    margin-left: 5px;
    
}
.ver-contenedor-mensajes-privado .header-izquierda a img{
    width:100%;
    height:100%;
    border-radius: 100%;
    
}
.ver-contenedor-mensajes-privado .header-derecha i{
    margin-right: 20px;
    cursor: pointer;
    font-size: 25px;
    
}
.ver-contenedor-mensajes-privado .header-derecha i:first-child{
    margin-top:-15px;
}
.mensajes-privados{
    width:100%;
    overflow-y: scroll;
    
}
.mensajes-privados p{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.mensajes-privados .mensaje-otro-usuario{
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
    color:#fff;
    padding: 10px 5px;
    word-wrap: break-word;
    margin-right: 50px;
}
.mensajes-privados .mensaje-usuario{
    background-color: rgba(255,255,255,.3);
    border-radius: 5px;
    color:#000;
    padding: 10px 5px;
    word-wrap: break-word;
    margin-left: 50px;
    

}
.ver-contenedor-mensajes-privado input{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
    outline: none;
    border: none;
    background-color: rgba(255,255,255,.3);
    color:#fff;
}
.ver-contenedor-mensajes-privado input::placeholder{
    color:#fff;
}

/*para ver los mensajes privados minimizados*/
.contenedor-mensajes-privado-minimizado{
    width:80px;
    height:80px;
    display: block;
    margin-left: 90%;
    position:fixed;
    
    
    
}
.contenedor-mensajes-privado-minimizado img{
    width:100%;
    height:100%;
    border-radius: 100%;
}
.contenedor-mensajes-privado-minimizado .mensajes-privados{
    display:none;
}
.contenedor-mensajes-privado-minimizado input{
    display:none;
}
.contenedor-mensajes-privado-minimizado .header-derecha{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity: 0;
  
}
.contenedor-mensajes-privado-minimizado .header-derecha i:first-child{
    margin-top:-10px;
}
.contenedor-mensajes-privado-minimizado .header-derecha:hover{
    opacity: 1;
    cursor: pointer;
}


/*------------------------------------------responsive------------------------------------*/
@media (max-width:1200px){
    .lista-amigos{
        grid-template-columns: 1fr;
    }

}
@media (max-width:700px){
    .perfil-usuario{
        width:150px;
        height:150px;
    }
    .contenedor h2{
        font-size: 40px;
    }
    .menu-usuario{
        padding:18px 0;
        font-size:16px;
    }

    .amigo{
        width:350px;
        height: 100px;
        font-size:16px;
    }
    .perfil-amigo{
        width:70px;
        height:70px;
    }
    .amigo a{
        margin-right:5px;
    }

    .ver-contenedor-mensajes-privado{
        width:150px;
        height: 250px;
        font-size: 12px;
  

    }
    .ver-contenedor-mensajes-privado .header-izquierda a{
        width:30px;
        height:30px!important;
    }
    .ver-contenedor-mensajes-privado .header-derecha i{
        font-size:14px;
        
    }

}
